@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #bba694;
}

/* Section */
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

/* Header */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #7a551c;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    background: #9b7239;
    padding: 0 10px;
    font-family:'Lora', serif;
    font-weight: 600;
}

header .navbar{
    position: relative;
    display: flex;

}

header .navbar li{
    list-style: none;
    margin-left: 30px;
}

header .navbar li a{
    text-decoration: none;
    color: #7a551c;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}

header .navbar li a:hover{
    color: #ffffd5;
}

/* Contenido */
.contenido{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.contenido .titulobox{
    position: relative;
    max-width: 600px;
}

.contenido .titulobox h2{
    font-size: 4.5em;
    text-transform: uppercase;
    color: #7a551c;
    line-height: 1.2;
}

.contenido .titulobox h2 span{
    background: #9b7239;
    color: #ffffd5;
    padding: 0 10px;
    font-family:'Lora', serif;
}

.contenido .titulobox p{
    font-size: 1.8em;
    line-height: 1.5;
    color: #7a551c;
    font-family:'Lora', serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.contenido .titulobox a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffd5;
    background: #7a551c;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.contenido .titulobox a:hover{
    color: #7a551c;
    background: #ffffd5;
}

.contenido .imagbox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
}

.contenido .imagbox img{
    width: 400px;
}
/* Circulo */
.circulo{
    position: absolute;
    top: 0;
    left: 0;
    background: #9b7239;
    clip-path: circle(650px at right 750px);
    width: 100%;
    height: 100%;
}

.copyright{
    position: absolute;
    bottom: 0;
    left: 800px;
    margin-bottom: 20px;
    padding: 0 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    color: #ffffd5;
}

/* Redes sociales */
.redesSociales{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}

.redesSociales li{
    padding: 10px;
}

.redesSociales li a{
    color: #ffffd5;
    font-size: 1.5em;
    transition: 0.3s;
}

.redesSociales li a:hover{
    color: #7a551c;
}